<!DOCTYPE html>
<html ng-app="hsdAngular">
<!-- start right frame -->

<head>
    <title>~[text:psx.htmlc.teachers.hsd_teachers.Contacts]</title>
    ~[wc:commonscripts]
    <link href="/images/css/screen.css" rel="stylesheet" media="screen">
    <link href="/images/css/print.css" rel="stylesheet" media="print">
    <link href="/images/css/customStyles.css" rel="stylesheet" media="screen">
</head>

<body>
    ~[wc:admin_header_frame_css]
    <!-- breadcrumb start -->
    <a href="/admin/home.html" target="_top">~[text:psx.html.admin_students.misc.start_page]</a> &gt;<a href="home.html?selectstudent=nosearch" target="_top">~[text:psx.html.admin_students.misc.student_selection]</a> &gt;Contacts<!-- breadcrumb end -->
    ~[wc:admin_navigation_frame_css] 
    ~[wc:title_student_begin_css]
    ~[text:psx.htmlc.teachers.hsd_teachers.Contacts]
    ~[wc:title_student_end_css]
    <!-- start of content and bounding box -->
    <div ng-controller="studentContactsController">
        <div class="row">
            <div class="box-round col-sm-6 col-md-6" ng-repeat="contact in contacts" ng-show="contacts">
                <div class="row">
                    <h3 class="col-md-10 col-sm-10">
                        {{contact.lastName}}, {{contact.firstName}}
                    </h3>
                    <div >
                        <img src="../../images/img/hsd/redCross.svg" id="emergencyIcon" ng-if="contact.emergency" class="contact-icon"/>
                        <img src="../../images/img/hsd/livesWith.svg" id="livesWithIcon" ng-if="contact.livesWith" class="contact-icon"/>
                        <img src="../../images/img/hsd/custody.svg" id="custodyIcon" ng-if="contact.custody" class="contact-icon"/>
                        <img src="../../images/img/hsd/schoolPickup.svg" id="schoolPickupIcon" ng-if="contact.schoolPickup" class="contact-icon"/>
                        
                    </div>
                </div>
                <h5 ng-if="contact.relation=='Not Set'">~[text:psx.htmlc.teachers.hsd_teachers.Relationship]</h5><h5 ng-if="!(contact.relation=='Not Set')">{{contact.relation}}</h5>
                <div class="row">
                    <div class="no-border-box col-sm-6 col-md-6" ng-if="contact.addresses.length>0">
                        <h6 class="dataHead"><strong>~[text:psx.htmlc.teachers.hsd_teachers.addresses]</strong></h6>
                        <div ng-repeat="address in contact.addresses">
                            <span class="dataHead">{{address.type}}</span>
                            <div class="no-border-box">
                                {{address.street}} <br/>
                                <span ng-if="!address.lineTwo==undefined">{{address.lineTwo}}<br/></span> 
                                <span ng-if="!address.unit==null">Unit: <br/></span>
                                <span>{{address.city}}, {{address.state}} {{address.postalCode}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="no-border-box col-sm-8 col-md-6" ng-if="contact.phones.length>0">
                        <h6 class="dataHead">~[text:psx.htmlc.teachers.hsd_teachers.Phones]</h6>
                        <div ng-repeat="phone in contact.phones">
                            <span><span ng-if="!phone.type">~[text:psx.htmlc.teachers.hsd_teachers.PhoneType]</span><span ng-if="phone.type" class="dataHead">{{phone.type}}</span>: {{phone.number}} <span ng-if="phone.extension">Ext: {{phone.extension}}</span><span ng-if="phone.preferred"> (preferred)</span></span>
                        </div>
                    </div>
                    <div class="no-border-box col-sm-3 col-md-12" ng-if="contact.emails.length>0">
                        <h6 class="dataHead">~[text:psx.htmlc.teachers.hsd_teachers.emails]</h6>
                        <div ng-repeat="email in contact.emails">
                            <span><span ng-if="!email.type">~[text:psx.htmlc.teachers.hsd_teachers.EmailType]</span><span ng-if="email.type" class="dataHead">{{email.type}}</span>: {{email.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div> 
        <!-- end of content of bounding box -->
        ~[wc:admin_footer_frame_css]
    </script>
    <script src="/scripts/underscore/underscore-min-1.8.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="/scripts/hsd/app.js"></script>
    <script src="/scripts/hsd/services/studentContactService.js"></script>
    
    <script src="/scripts/hsd/controllers/studentContactsController.js"></script>
    <script src="/scripts/hsd/filters/studentCurrentRecordFilter.js"></script>
</body>
</html>
<!-- end right frame -->